{{ define "footer" }}

<footer class="py-4" style="background-color:#f8f9fa; border-top:1px solid #dee2e6;">
    <div class="container text-center">
        
        <p class="footer-text" style="margin-bottom:5px; font-weight:bold; color:#343a40;">
            Online Boutique
        </p>

        
        <p class="footer-text" style="margin-bottom:5px; color:#495057;">
            Discover a variety of stylish products and enjoy a seamless shopping experience.
        </p>

        
        <p class="footer-text" style="margin-bottom:0; color:#6c757d;">
            © 2026 ELTE University | Developed by Rabea Alsoudi
        </p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
</script>

</body>
</html>
{{ end }}
